<a href="https://colab.research.google.com/github/hyunaeee/KU-SW-Academy/blob/main/0906.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
지능정보SW아카데미 - SW, AI(빅데이터, 정답)
데이터수집 - 저장/관리 - 분석 - 시각화(SW)
Crawler   DB(RDBMS)  통계/확률/기계학습    앱/웹/익스텐션(크로미움)
         (Hadoop/Spark)+             React, JS+HTML+CSS
          ER Model -> Diagram, SQL(DDL,DML,join)
          특; ER -> Database-Tabls
             기능 -> 절차 많음
          ORM - SQL, 기능개발
        ORM,  Core:RDBMS 통합 관리/연결/SQL해석
import sqlalchemy
!pip install sqlalchemy --upgrade
from sqlalchemy import create_engine, MetaData
from sqlalchemy.schema import Table, Column, ForeignKey
from sqlalchemy.types import Integer, Text
from sqlalchemy.sql import select, insert, update, delete, join, func
ORM -> SQLAlchemy
[Core]
engine  -   Dialect            - DB API - DBMS
        -   Connection Pool (Class->Obj->SQL->)
con = sqlite3.connect.cursor
cur = con.cursor
engine = create_engine('sqlite:///:memory:', echo=True)
# cur.execute/many/script
con = engine.connect()
meta = MetaData()
meta.tables
Table('USER', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False))
User = meta.tables['USER']
print(User.insert())
meta.create_all(engine)
meta.drop_all(engine)
meta.remove(User)
meta.tables
meta.reflect(engine)
meta.tables
print(User.insert())
print(User.insert().values(PK=1, NAME='아무개'))
print(User.insert().values(PK=1, NAME='아무개').compile().params)
con.execute(User.insert().values(PK=1, NAME='아무개'))
con.execute(User.select()).fetchall()
Table('ADDRESS', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text),
      Column('FK', Integer, ForeignKey('USER.PK')))
Table('TEMP', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text),
      Column('FK', Integer, nullable=False))
User.columns['PK']
meta.create_all(engine)
con.execute(
    meta.tables['ADDRESS'].insert().values(PK=1, NAME='주소', FK=1))
con.execute(
    meta.tables['TEMP'].insert().values(PK=1, NAME='가짜', FK=1))
ORM             DBMS
MetaData
T.USER          USER(1)
T.ADDRESS       ADDRESS(1)
T.TEMP          TEMP(1)
meta.drop_all(engine); ORM->DBMS
meta.remove(T객체); ORM Table객체
meta.reflect(engine);  DBMS->ORM
con.execute(select(meta.tables['USER'],
                   meta.tables['ADDRESS'],
                   meta.tables['TEMP'])).fetchall()
2023-09-06 09:56:05,819 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME", "ADDRESS"."PK" AS "PK_1", "ADDRESS"."NAME" AS "NAME_1", "ADDRESS"."FK", "TEMP"."PK" AS "PK_2", "TEMP"."NAME" AS "NAME_2", "TEMP"."FK" AS "FK_1"
FROM "USER", "ADDRESS", "TEMP"
2023-09-06 09:56:05,821 INFO sqlalchemy.engine.Engine [generated in 0.00258s] ()
/var/folders/f0/k4g2cj1136ndwgcvyy1kl7l40000gn/T/ipykernel_41452/1370835682.py:1: SAWarning: SELECT statement has a cartesian product between FROM element(s) "ADDRESS", "TEMP" and FROM element "USER".  Apply join condition(s) between each element to resolve.
  con.execute(select(meta.tables['USER'],
[(1, '아무개', 1, '주소', 1, 1, '가짜', 1)]
con.execute(select(meta.tables['USER'].columns['PK'],
                   meta.tables['USER'].c.NAME,
                   meta.tables['TEMP'].c.PK)).fetchall()
2023-09-06 09:57:28,818 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME", "TEMP"."PK" AS "PK_1"
FROM "USER", "TEMP"
2023-09-06 09:57:28,821 INFO sqlalchemy.engine.Engine [generated in 0.00339s] ()
/var/folders/f0/k4g2cj1136ndwgcvyy1kl7l40000gn/T/ipykernel_41452/4091108013.py:1: SAWarning: SELECT statement has a cartesian product between FROM element(s) "TEMP" and FROM element "USER".  Apply join condition(s) between each element to resolve.
  con.execute(select(meta.tables['USER'].columns['PK'],
[(1, '아무개', 1)]
USER = meta.tables['USER']
ADDR = meta.tables['ADDRESS']
TEMP = meta.tables['TEMP']
print(USER.select().where(USER.c.PK == 1))
SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
WHERE "USER"."PK" = :PK_1
print(USER.c.PK == TEMP.c.FK)
"USER"."PK" = "TEMP"."FK"
print(USER.join(ADDR))
"USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"
print(USER.join(TEMP, USER.c.PK == TEMP.c.FK))
"USER" JOIN "TEMP" ON "USER"."PK" = "TEMP"."FK"
from sqlalchemy.sql import or_, and_, between
print(or_(USER.c.PK==1, USER.c.PK==2))
"USER"."PK" = :PK_1 OR "USER"."PK" = :PK_2
print(USER.c.NAME.like('%어쩌고%'))
"USER"."NAME" LIKE :NAME_1
print(USER.select().where(USER.c.NAME.like('%어쩌고%')).\
      group_by(USER.c.PK).order_by(USER.c.PK))
SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
WHERE "USER"."NAME" LIKE :NAME_1 GROUP BY "USER"."PK" ORDER BY "USER"."PK"
print((USER.c.NAME=='abcd') & (USER.c.PK==1) | (USER.c.PK==2))
"USER"."NAME" = :NAME_1 AND "USER"."PK" = :PK_1 OR "USER"."PK" = :PK_2
print(USER.join(ADDR))
"USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"
print(select().select_from(USER.join(ADDR)))
SELECT
FROM "USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"
print(select(USER).join(ADDR))
SELECT "USER"."PK", "USER"."NAME"
FROM "USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"
engine.dispose()
meta.clear()
engine = create_engine('sqlite:///:memory:', echo=True)
# 4개의 테이블
# 아티스트
Table('T_A', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False))
# 앨범
Table('T_B', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
      Column('FK', None, ForeignKey('T_A.PK')))
# 장르
Table('T_C', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False))

# 곡
Table('T_D', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
      Column('FK1', Integer, ForeignKey('T_B.PK'), nullable=False),
      Column('FK2', Integer, nullable=False))
Table('T_D', MetaData(), Column('PK', Integer(), table=<T_D>, primary_key=True, nullable=False), Column('NAME', Text(), table=<T_D>, nullable=False), Column('FK1', Integer(), ForeignKey('T_B.PK'), table=<T_D>, nullable=False), Column('FK2', Integer(), table=<T_D>, nullable=False), schema=None)
len(meta.tables)
4
meta.create_all(engine)
2023-09-06 10:42:59,907 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:42:59,909 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_A")
2023-09-06 10:42:59,910 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:42:59,911 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_A")
2023-09-06 10:42:59,912 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:42:59,913 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_B")
2023-09-06 10:42:59,913 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:42:59,914 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_B")
2023-09-06 10:42:59,915 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:42:59,916 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_C")
2023-09-06 10:42:59,917 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:42:59,918 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_C")
2023-09-06 10:42:59,919 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:42:59,919 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_D")
2023-09-06 10:42:59,920 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:42:59,921 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_D")
2023-09-06 10:42:59,922 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:42:59,923 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_A" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 10:42:59,924 INFO sqlalchemy.engine.Engine [no key 0.00094s] ()
2023-09-06 10:42:59,925 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_C" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 10:42:59,925 INFO sqlalchemy.engine.Engine [no key 0.00053s] ()
2023-09-06 10:42:59,926 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_B" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	"FK" INTEGER,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK") REFERENCES "T_A" ("PK")
)


2023-09-06 10:42:59,926 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2023-09-06 10:42:59,927 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_D" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	"FK1" INTEGER NOT NULL,
	"FK2" INTEGER NOT NULL,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK1") REFERENCES "T_B" ("PK")
)


2023-09-06 10:42:59,928 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
2023-09-06 10:42:59,928 INFO sqlalchemy.engine.Engine COMMIT
con = engine.connect()
for name in ['가수1', '가수2', '가수3', '가수4']:
    con.execute(meta.tables['T_A'].insert().values(NAME=name))
#     => INSERT INTO T_A (NAME) VALUES(:name)
2023-09-06 10:44:46,286 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:44:46,289 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?)
2023-09-06 10:44:46,290 INFO sqlalchemy.engine.Engine [generated in 0.00485s] ('가수1',)
2023-09-06 10:44:46,292 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?)
2023-09-06 10:44:46,295 INFO sqlalchemy.engine.Engine [cached since 0.009154s ago] ('가수2',)
2023-09-06 10:44:46,295 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?)
2023-09-06 10:44:46,296 INFO sqlalchemy.engine.Engine [cached since 0.01096s ago] ('가수3',)
2023-09-06 10:44:46,297 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?)
2023-09-06 10:44:46,298 INFO sqlalchemy.engine.Engine [cached since 0.01281s ago] ('가수4',)
A = meta.tables['T_A']
B = meta.tables['T_B']
C = meta.tables['T_C']
D = meta.tables['T_D']
for key in ['1','2','3','4']:
    for name in ['앨범1', '앨범2']:
        fk = con.execute(select(A.c.PK).where(
            A.c.NAME.like('%'+key))).fetchone()[0]

        con.execute(B.insert().values(
            NAME=f'가수{key}_{name}', FK=fk))
        # INSERT INTO T_B(NAME, FK) VALUES(:name, :fk)
2023-09-06 10:52:33,788 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:52:33,790 INFO sqlalchemy.engine.Engine [cached since 325.4s ago] ('%1',)
2023-09-06 10:52:33,793 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:52:33,793 INFO sqlalchemy.engine.Engine [generated in 0.00087s] ('가수1_앨범1', 1)
2023-09-06 10:52:33,794 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:52:33,795 INFO sqlalchemy.engine.Engine [cached since 325.4s ago] ('%1',)
2023-09-06 10:52:33,796 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:52:33,797 INFO sqlalchemy.engine.Engine [cached since 0.004294s ago] ('가수1_앨범2', 1)
2023-09-06 10:52:33,798 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:52:33,798 INFO sqlalchemy.engine.Engine [cached since 325.4s ago] ('%2',)
2023-09-06 10:52:33,799 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:52:33,799 INFO sqlalchemy.engine.Engine [cached since 0.006731s ago] ('가수2_앨범1', 2)
2023-09-06 10:52:33,800 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:52:33,800 INFO sqlalchemy.engine.Engine [cached since 325.4s ago] ('%2',)
2023-09-06 10:52:33,801 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:52:33,802 INFO sqlalchemy.engine.Engine [cached since 0.009236s ago] ('가수2_앨범2', 2)
2023-09-06 10:52:33,802 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:52:33,803 INFO sqlalchemy.engine.Engine [cached since 325.4s ago] ('%3',)
2023-09-06 10:52:33,803 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:52:33,804 INFO sqlalchemy.engine.Engine [cached since 0.01124s ago] ('가수3_앨범1', 3)
2023-09-06 10:52:33,804 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:52:33,805 INFO sqlalchemy.engine.Engine [cached since 325.4s ago] ('%3',)
2023-09-06 10:52:33,805 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:52:33,806 INFO sqlalchemy.engine.Engine [cached since 0.01317s ago] ('가수3_앨범2', 3)
2023-09-06 10:52:33,806 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:52:33,806 INFO sqlalchemy.engine.Engine [cached since 325.4s ago] ('%4',)
2023-09-06 10:52:33,807 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:52:33,807 INFO sqlalchemy.engine.Engine [cached since 0.01477s ago] ('가수4_앨범1', 4)
2023-09-06 10:52:33,808 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:52:33,808 INFO sqlalchemy.engine.Engine [cached since 325.4s ago] ('%4',)
2023-09-06 10:52:33,809 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:52:33,809 INFO sqlalchemy.engine.Engine [cached since 0.01666s ago] ('가수4_앨범2', 4)
con.execute(select(A.c.NAME,B.c.NAME).join(B)).fetchall()
2023-09-06 10:55:46,763 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK"
2023-09-06 10:55:46,768 INFO sqlalchemy.engine.Engine [generated in 0.00489s] ()
[('가수1', '가수1_앨범1'),
 ('가수1', '가수1_앨범2'),
 ('가수2', '가수2_앨범1'),
 ('가수2', '가수2_앨범2'),
 ('가수3', '가수3_앨범1'),
 ('가수3', '가수3_앨범2'),
 ('가수4', '가수4_앨범1'),
 ('가수4', '가수4_앨범2')]
for name in ['장르1', '장르2', '장르3', '장르4']:
    con.execute(meta.tables['T_C'].insert().values(NAME=name))
2023-09-06 10:54:00,624 INFO sqlalchemy.engine.Engine INSERT INTO "T_C" ("NAME") VALUES (?)
2023-09-06 10:54:00,625 INFO sqlalchemy.engine.Engine [generated in 0.00134s] ('장르1',)
2023-09-06 10:54:00,627 INFO sqlalchemy.engine.Engine INSERT INTO "T_C" ("NAME") VALUES (?)
2023-09-06 10:54:00,628 INFO sqlalchemy.engine.Engine [cached since 0.003886s ago] ('장르2',)
2023-09-06 10:54:00,628 INFO sqlalchemy.engine.Engine INSERT INTO "T_C" ("NAME") VALUES (?)
2023-09-06 10:54:00,629 INFO sqlalchemy.engine.Engine [cached since 0.005307s ago] ('장르3',)
2023-09-06 10:54:00,630 INFO sqlalchemy.engine.Engine INSERT INTO "T_C" ("NAME") VALUES (?)
2023-09-06 10:54:00,631 INFO sqlalchemy.engine.Engine [cached since 0.006905s ago] ('장르4',)
for row in con.execute(select(B.c.PK)).fetchall():
    # 1,2,3,4,5... FK1
    for key in ['1','2','3','4']:
        for name in ['노래1', '노래2', '노래3', '노래4']:
            fk = con.execute(select(C.c.PK).where(
                A.c.NAME.like('%'+key))).fetchone()[0]

            con.execute(D.insert().values(
                NAME=f'{row[0]}앨범_장르{key}_{name}',
                FK1=row[0], FK2=fk))
            # INSERT INTO T_D(NAME, FK1, FK2)
            # VALUES(:name, :row[0], fk)
2023-09-06 11:01:18,742 INFO sqlalchemy.engine.Engine SELECT "T_B"."PK"
FROM "T_B"
2023-09-06 11:01:18,744 INFO sqlalchemy.engine.Engine [generated in 0.00244s] ()
2023-09-06 11:01:18,746 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,747 INFO sqlalchemy.engine.Engine [generated in 0.00054s] ('%1',)
2023-09-06 11:01:18,748 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,749 INFO sqlalchemy.engine.Engine [generated in 0.00065s] ('1앨범_장르1_노래1', 1, 1)
2023-09-06 11:01:18,750 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,750 INFO sqlalchemy.engine.Engine [cached since 0.004132s ago] ('%1',)
2023-09-06 11:01:18,751 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,751 INFO sqlalchemy.engine.Engine [cached since 0.003431s ago] ('1앨범_장르1_노래2', 1, 1)
2023-09-06 11:01:18,752 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,753 INFO sqlalchemy.engine.Engine [cached since 0.006589s ago] ('%1',)
2023-09-06 11:01:18,753 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,754 INFO sqlalchemy.engine.Engine [cached since 0.005834s ago] ('1앨범_장르1_노래3', 1, 1)
2023-09-06 11:01:18,754 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,755 INFO sqlalchemy.engine.Engine [cached since 0.008549s ago] ('%1',)
2023-09-06 11:01:18,755 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,755 INFO sqlalchemy.engine.Engine [cached since 0.007542s ago] ('1앨범_장르1_노래4', 1, 1)
2023-09-06 11:01:18,756 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,756 INFO sqlalchemy.engine.Engine [cached since 0.01018s ago] ('%2',)
2023-09-06 11:01:18,757 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,757 INFO sqlalchemy.engine.Engine [cached since 0.009281s ago] ('1앨범_장르2_노래1', 1, 1)
2023-09-06 11:01:18,758 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,758 INFO sqlalchemy.engine.Engine [cached since 0.01223s ago] ('%2',)
2023-09-06 11:01:18,759 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,759 INFO sqlalchemy.engine.Engine [cached since 0.01128s ago] ('1앨범_장르2_노래2', 1, 1)
2023-09-06 11:01:18,760 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,760 INFO sqlalchemy.engine.Engine [cached since 0.01446s ago] ('%2',)
2023-09-06 11:01:18,761 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,762 INFO sqlalchemy.engine.Engine [cached since 0.01369s ago] ('1앨범_장르2_노래3', 1, 1)
2023-09-06 11:01:18,762 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,762 INFO sqlalchemy.engine.Engine [cached since 0.01642s ago] ('%2',)
2023-09-06 11:01:18,763 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,763 INFO sqlalchemy.engine.Engine [cached since 0.01532s ago] ('1앨범_장르2_노래4', 1, 1)
2023-09-06 11:01:18,764 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,764 INFO sqlalchemy.engine.Engine [cached since 0.01795s ago] ('%3',)
2023-09-06 11:01:18,764 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,765 INFO sqlalchemy.engine.Engine [cached since 0.01681s ago] ('1앨범_장르3_노래1', 1, 1)
2023-09-06 11:01:18,765 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,765 INFO sqlalchemy.engine.Engine [cached since 0.01931s ago] ('%3',)
2023-09-06 11:01:18,766 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,766 INFO sqlalchemy.engine.Engine [cached since 0.01818s ago] ('1앨범_장르3_노래2', 1, 1)
2023-09-06 11:01:18,766 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,767 INFO sqlalchemy.engine.Engine [cached since 0.02078s ago] ('%3',)
2023-09-06 11:01:18,767 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,768 INFO sqlalchemy.engine.Engine [cached since 0.01968s ago] ('1앨범_장르3_노래3', 1, 1)
2023-09-06 11:01:18,768 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,768 INFO sqlalchemy.engine.Engine [cached since 0.02224s ago] ('%3',)
2023-09-06 11:01:18,769 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,769 INFO sqlalchemy.engine.Engine [cached since 0.02109s ago] ('1앨범_장르3_노래4', 1, 1)
2023-09-06 11:01:18,770 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,770 INFO sqlalchemy.engine.Engine [cached since 0.02382s ago] ('%4',)
2023-09-06 11:01:18,770 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,771 INFO sqlalchemy.engine.Engine [cached since 0.02267s ago] ('1앨범_장르4_노래1', 1, 1)
2023-09-06 11:01:18,771 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,771 INFO sqlalchemy.engine.Engine [cached since 0.02522s ago] ('%4',)
2023-09-06 11:01:18,772 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,772 INFO sqlalchemy.engine.Engine [cached since 0.02408s ago] ('1앨범_장르4_노래2', 1, 1)
2023-09-06 11:01:18,772 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,773 INFO sqlalchemy.engine.Engine [cached since 0.02652s ago] ('%4',)
2023-09-06 11:01:18,773 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,773 INFO sqlalchemy.engine.Engine [cached since 0.02547s ago] ('1앨범_장르4_노래3', 1, 1)
2023-09-06 11:01:18,774 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,774 INFO sqlalchemy.engine.Engine [cached since 0.02826s ago] ('%4',)
2023-09-06 11:01:18,775 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,775 INFO sqlalchemy.engine.Engine [cached since 0.0273s ago] ('1앨범_장르4_노래4', 1, 1)
2023-09-06 11:01:18,776 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,776 INFO sqlalchemy.engine.Engine [cached since 0.03006s ago] ('%1',)
2023-09-06 11:01:18,777 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,777 INFO sqlalchemy.engine.Engine [cached since 0.02914s ago] ('2앨범_장르1_노래1', 2, 1)
2023-09-06 11:01:18,777 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,778 INFO sqlalchemy.engine.Engine [cached since 0.03173s ago] ('%1',)
2023-09-06 11:01:18,778 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,778 INFO sqlalchemy.engine.Engine [cached since 0.03058s ago] ('2앨범_장르1_노래2', 2, 1)
2023-09-06 11:01:18,779 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,779 INFO sqlalchemy.engine.Engine [cached since 0.03308s ago] ('%1',)
2023-09-06 11:01:18,780 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,780 INFO sqlalchemy.engine.Engine [cached since 0.03189s ago] ('2앨범_장르1_노래3', 2, 1)
2023-09-06 11:01:18,780 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,780 INFO sqlalchemy.engine.Engine [cached since 0.03441s ago] ('%1',)
2023-09-06 11:01:18,781 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,781 INFO sqlalchemy.engine.Engine [cached since 0.03322s ago] ('2앨범_장르1_노래4', 2, 1)
2023-09-06 11:01:18,782 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,782 INFO sqlalchemy.engine.Engine [cached since 0.0357s ago] ('%2',)
2023-09-06 11:01:18,782 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,782 INFO sqlalchemy.engine.Engine [cached since 0.03442s ago] ('2앨범_장르2_노래1', 2, 1)
2023-09-06 11:01:18,783 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,783 INFO sqlalchemy.engine.Engine [cached since 0.03686s ago] ('%2',)
2023-09-06 11:01:18,783 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,783 INFO sqlalchemy.engine.Engine [cached since 0.03556s ago] ('2앨범_장르2_노래2', 2, 1)
2023-09-06 11:01:18,784 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,784 INFO sqlalchemy.engine.Engine [cached since 0.03799s ago] ('%2',)
2023-09-06 11:01:18,784 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,785 INFO sqlalchemy.engine.Engine [cached since 0.03668s ago] ('2앨범_장르2_노래3', 2, 1)
2023-09-06 11:01:18,785 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,785 INFO sqlalchemy.engine.Engine [cached since 0.03901s ago] ('%2',)
2023-09-06 11:01:18,786 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,786 INFO sqlalchemy.engine.Engine [cached since 0.03786s ago] ('2앨범_장르2_노래4', 2, 1)
2023-09-06 11:01:18,786 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,786 INFO sqlalchemy.engine.Engine [cached since 0.04026s ago] ('%3',)
2023-09-06 11:01:18,787 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,787 INFO sqlalchemy.engine.Engine [cached since 0.03898s ago] ('2앨범_장르3_노래1', 2, 1)
2023-09-06 11:01:18,787 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,787 INFO sqlalchemy.engine.Engine [cached since 0.04138s ago] ('%3',)
2023-09-06 11:01:18,788 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,788 INFO sqlalchemy.engine.Engine [cached since 0.04025s ago] ('2앨범_장르3_노래2', 2, 1)
2023-09-06 11:01:18,789 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,789 INFO sqlalchemy.engine.Engine [cached since 0.04277s ago] ('%3',)
2023-09-06 11:01:18,789 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,789 INFO sqlalchemy.engine.Engine [cached since 0.04152s ago] ('2앨범_장르3_노래3', 2, 1)
2023-09-06 11:01:18,790 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,790 INFO sqlalchemy.engine.Engine [cached since 0.04393s ago] ('%3',)
2023-09-06 11:01:18,790 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,791 INFO sqlalchemy.engine.Engine [cached since 0.04263s ago] ('2앨범_장르3_노래4', 2, 1)
2023-09-06 11:01:18,791 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,791 INFO sqlalchemy.engine.Engine [cached since 0.0451s ago] ('%4',)
2023-09-06 11:01:18,792 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,792 INFO sqlalchemy.engine.Engine [cached since 0.04392s ago] ('2앨범_장르4_노래1', 2, 1)
2023-09-06 11:01:18,792 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,792 INFO sqlalchemy.engine.Engine [cached since 0.0464s ago] ('%4',)
2023-09-06 11:01:18,793 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,793 INFO sqlalchemy.engine.Engine [cached since 0.0451s ago] ('2앨범_장르4_노래2', 2, 1)
2023-09-06 11:01:18,793 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,793 INFO sqlalchemy.engine.Engine [cached since 0.04746s ago] ('%4',)
2023-09-06 11:01:18,794 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,794 INFO sqlalchemy.engine.Engine [cached since 0.0462s ago] ('2앨범_장르4_노래3', 2, 1)
2023-09-06 11:01:18,795 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,795 INFO sqlalchemy.engine.Engine [cached since 0.04878s ago] ('%4',)
2023-09-06 11:01:18,795 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,796 INFO sqlalchemy.engine.Engine [cached since 0.0478s ago] ('2앨범_장르4_노래4', 2, 1)
2023-09-06 11:01:18,796 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,798 INFO sqlalchemy.engine.Engine [cached since 0.05156s ago] ('%1',)
2023-09-06 11:01:18,798 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,798 INFO sqlalchemy.engine.Engine [cached since 0.05057s ago] ('3앨범_장르1_노래1', 3, 1)
2023-09-06 11:01:18,799 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,799 INFO sqlalchemy.engine.Engine [cached since 0.05315s ago] ('%1',)
2023-09-06 11:01:18,799 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,800 INFO sqlalchemy.engine.Engine [cached since 0.05181s ago] ('3앨범_장르1_노래2', 3, 1)
2023-09-06 11:01:18,800 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,800 INFO sqlalchemy.engine.Engine [cached since 0.0542s ago] ('%1',)
2023-09-06 11:01:18,801 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,801 INFO sqlalchemy.engine.Engine [cached since 0.05289s ago] ('3앨범_장르1_노래3', 3, 1)
2023-09-06 11:01:18,801 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,801 INFO sqlalchemy.engine.Engine [cached since 0.05532s ago] ('%1',)
2023-09-06 11:01:18,802 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,802 INFO sqlalchemy.engine.Engine [cached since 0.05425s ago] ('3앨범_장르1_노래4', 3, 1)
2023-09-06 11:01:18,803 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,803 INFO sqlalchemy.engine.Engine [cached since 0.05678s ago] ('%2',)
2023-09-06 11:01:18,803 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,804 INFO sqlalchemy.engine.Engine [cached since 0.05564s ago] ('3앨범_장르2_노래1', 3, 1)
2023-09-06 11:01:18,804 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,804 INFO sqlalchemy.engine.Engine [cached since 0.05822s ago] ('%2',)
2023-09-06 11:01:18,805 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,805 INFO sqlalchemy.engine.Engine [cached since 0.05711s ago] ('3앨범_장르2_노래2', 3, 1)
2023-09-06 11:01:18,805 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,806 INFO sqlalchemy.engine.Engine [cached since 0.05961s ago] ('%2',)
2023-09-06 11:01:18,806 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,806 INFO sqlalchemy.engine.Engine [cached since 0.05846s ago] ('3앨범_장르2_노래3', 3, 1)
2023-09-06 11:01:18,807 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,807 INFO sqlalchemy.engine.Engine [cached since 0.06093s ago] ('%2',)
2023-09-06 11:01:18,807 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,808 INFO sqlalchemy.engine.Engine [cached since 0.05967s ago] ('3앨범_장르2_노래4', 3, 1)
2023-09-06 11:01:18,808 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,808 INFO sqlalchemy.engine.Engine [cached since 0.06224s ago] ('%3',)
2023-09-06 11:01:18,809 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,809 INFO sqlalchemy.engine.Engine [cached since 0.06126s ago] ('3앨범_장르3_노래1', 3, 1)
2023-09-06 11:01:18,810 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,810 INFO sqlalchemy.engine.Engine [cached since 0.06396s ago] ('%3',)
2023-09-06 11:01:18,810 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,811 INFO sqlalchemy.engine.Engine [cached since 0.06276s ago] ('3앨범_장르3_노래2', 3, 1)
2023-09-06 11:01:18,811 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,811 INFO sqlalchemy.engine.Engine [cached since 0.0652s ago] ('%3',)
2023-09-06 11:01:18,812 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,812 INFO sqlalchemy.engine.Engine [cached since 0.06395s ago] ('3앨범_장르3_노래3', 3, 1)
2023-09-06 11:01:18,812 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,812 INFO sqlalchemy.engine.Engine [cached since 0.06633s ago] ('%3',)
2023-09-06 11:01:18,813 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,813 INFO sqlalchemy.engine.Engine [cached since 0.06499s ago] ('3앨범_장르3_노래4', 3, 1)
2023-09-06 11:01:18,813 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,813 INFO sqlalchemy.engine.Engine [cached since 0.06749s ago] ('%4',)
2023-09-06 11:01:18,814 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,814 INFO sqlalchemy.engine.Engine [cached since 0.06619s ago] ('3앨범_장르4_노래1', 3, 1)
2023-09-06 11:01:18,815 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,815 INFO sqlalchemy.engine.Engine [cached since 0.06883s ago] ('%4',)
2023-09-06 11:01:18,815 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,816 INFO sqlalchemy.engine.Engine [cached since 0.06762s ago] ('3앨범_장르4_노래2', 3, 1)
2023-09-06 11:01:18,816 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,816 INFO sqlalchemy.engine.Engine [cached since 0.07021s ago] ('%4',)
2023-09-06 11:01:18,817 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,817 INFO sqlalchemy.engine.Engine [cached since 0.06902s ago] ('3앨범_장르4_노래3', 3, 1)
2023-09-06 11:01:18,817 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,817 INFO sqlalchemy.engine.Engine [cached since 0.07148s ago] ('%4',)
2023-09-06 11:01:18,818 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,818 INFO sqlalchemy.engine.Engine [cached since 0.07012s ago] ('3앨범_장르4_노래4', 3, 1)
2023-09-06 11:01:18,818 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,819 INFO sqlalchemy.engine.Engine [cached since 0.07256s ago] ('%1',)
2023-09-06 11:01:18,819 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,819 INFO sqlalchemy.engine.Engine [cached since 0.07125s ago] ('4앨범_장르1_노래1', 4, 1)
2023-09-06 11:01:18,819 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,820 INFO sqlalchemy.engine.Engine [cached since 0.07364s ago] ('%1',)
2023-09-06 11:01:18,820 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,820 INFO sqlalchemy.engine.Engine [cached since 0.07238s ago] ('4앨범_장르1_노래2', 4, 1)
2023-09-06 11:01:18,821 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,821 INFO sqlalchemy.engine.Engine [cached since 0.07496s ago] ('%1',)
2023-09-06 11:01:18,821 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,822 INFO sqlalchemy.engine.Engine [cached since 0.07369s ago] ('4앨범_장르1_노래3', 4, 1)
2023-09-06 11:01:18,822 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,822 INFO sqlalchemy.engine.Engine [cached since 0.07621s ago] ('%1',)
2023-09-06 11:01:18,823 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,823 INFO sqlalchemy.engine.Engine [cached since 0.07512s ago] ('4앨범_장르1_노래4', 4, 1)
2023-09-06 11:01:18,823 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,824 INFO sqlalchemy.engine.Engine [cached since 0.07782s ago] ('%2',)
2023-09-06 11:01:18,824 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,825 INFO sqlalchemy.engine.Engine [cached since 0.07661s ago] ('4앨범_장르2_노래1', 4, 1)
2023-09-06 11:01:18,825 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,825 INFO sqlalchemy.engine.Engine [cached since 0.07906s ago] ('%2',)
2023-09-06 11:01:18,826 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,826 INFO sqlalchemy.engine.Engine [cached since 0.07791s ago] ('4앨범_장르2_노래2', 4, 1)
2023-09-06 11:01:18,826 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,826 INFO sqlalchemy.engine.Engine [cached since 0.08038s ago] ('%2',)
2023-09-06 11:01:18,827 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,827 INFO sqlalchemy.engine.Engine [cached since 0.07936s ago] ('4앨범_장르2_노래3', 4, 1)
2023-09-06 11:01:18,828 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,828 INFO sqlalchemy.engine.Engine [cached since 0.08194s ago] ('%2',)
2023-09-06 11:01:18,828 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,829 INFO sqlalchemy.engine.Engine [cached since 0.08072s ago] ('4앨범_장르2_노래4', 4, 1)
2023-09-06 11:01:18,829 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,829 INFO sqlalchemy.engine.Engine [cached since 0.08316s ago] ('%3',)
2023-09-06 11:01:18,830 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,830 INFO sqlalchemy.engine.Engine [cached since 0.0819s ago] ('4앨범_장르3_노래1', 4, 1)
2023-09-06 11:01:18,830 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,830 INFO sqlalchemy.engine.Engine [cached since 0.08432s ago] ('%3',)
2023-09-06 11:01:18,831 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,831 INFO sqlalchemy.engine.Engine [cached since 0.08296s ago] ('4앨범_장르3_노래2', 4, 1)
2023-09-06 11:01:18,831 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,831 INFO sqlalchemy.engine.Engine [cached since 0.08544s ago] ('%3',)
2023-09-06 11:01:18,832 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,832 INFO sqlalchemy.engine.Engine [cached since 0.08425s ago] ('4앨범_장르3_노래3', 4, 1)
2023-09-06 11:01:18,833 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,833 INFO sqlalchemy.engine.Engine [cached since 0.08672s ago] ('%3',)
2023-09-06 11:01:18,833 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,833 INFO sqlalchemy.engine.Engine [cached since 0.08558s ago] ('4앨범_장르3_노래4', 4, 1)
2023-09-06 11:01:18,834 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,834 INFO sqlalchemy.engine.Engine [cached since 0.08798s ago] ('%4',)
2023-09-06 11:01:18,835 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,835 INFO sqlalchemy.engine.Engine [cached since 0.08678s ago] ('4앨범_장르4_노래1', 4, 1)
2023-09-06 11:01:18,835 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,835 INFO sqlalchemy.engine.Engine [cached since 0.08935s ago] ('%4',)
2023-09-06 11:01:18,836 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,836 INFO sqlalchemy.engine.Engine [cached since 0.08812s ago] ('4앨범_장르4_노래2', 4, 1)
2023-09-06 11:01:18,836 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,836 INFO sqlalchemy.engine.Engine [cached since 0.09049s ago] ('%4',)
2023-09-06 11:01:18,837 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,837 INFO sqlalchemy.engine.Engine [cached since 0.08936s ago] ('4앨범_장르4_노래3', 4, 1)
2023-09-06 11:01:18,838 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,838 INFO sqlalchemy.engine.Engine [cached since 0.09186s ago] ('%4',)
2023-09-06 11:01:18,838 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,839 INFO sqlalchemy.engine.Engine [cached since 0.09063s ago] ('4앨범_장르4_노래4', 4, 1)
2023-09-06 11:01:18,839 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,839 INFO sqlalchemy.engine.Engine [cached since 0.09309s ago] ('%1',)
2023-09-06 11:01:18,840 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,840 INFO sqlalchemy.engine.Engine [cached since 0.09219s ago] ('5앨범_장르1_노래1', 5, 1)
2023-09-06 11:01:18,841 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,841 INFO sqlalchemy.engine.Engine [cached since 0.09474s ago] ('%1',)
2023-09-06 11:01:18,841 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,841 INFO sqlalchemy.engine.Engine [cached since 0.09341s ago] ('5앨범_장르1_노래2', 5, 1)
2023-09-06 11:01:18,842 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,842 INFO sqlalchemy.engine.Engine [cached since 0.09573s ago] ('%1',)
2023-09-06 11:01:18,842 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,842 INFO sqlalchemy.engine.Engine [cached since 0.09449s ago] ('5앨범_장르1_노래3', 5, 1)
2023-09-06 11:01:18,843 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,843 INFO sqlalchemy.engine.Engine [cached since 0.09689s ago] ('%1',)
2023-09-06 11:01:18,843 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,844 INFO sqlalchemy.engine.Engine [cached since 0.09564s ago] ('5앨범_장르1_노래4', 5, 1)
2023-09-06 11:01:18,844 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,844 INFO sqlalchemy.engine.Engine [cached since 0.09804s ago] ('%2',)
2023-09-06 11:01:18,844 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,845 INFO sqlalchemy.engine.Engine [cached since 0.0967s ago] ('5앨범_장르2_노래1', 5, 1)
2023-09-06 11:01:18,845 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,845 INFO sqlalchemy.engine.Engine [cached since 0.09908s ago] ('%2',)
2023-09-06 11:01:18,846 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,846 INFO sqlalchemy.engine.Engine [cached since 0.09789s ago] ('5앨범_장르2_노래2', 5, 1)
2023-09-06 11:01:18,846 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,846 INFO sqlalchemy.engine.Engine [cached since 0.1003s ago] ('%2',)
2023-09-06 11:01:18,847 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,847 INFO sqlalchemy.engine.Engine [cached since 0.09906s ago] ('5앨범_장르2_노래3', 5, 1)
2023-09-06 11:01:18,847 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,847 INFO sqlalchemy.engine.Engine [cached since 0.1015s ago] ('%2',)
2023-09-06 11:01:18,848 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,848 INFO sqlalchemy.engine.Engine [cached since 0.1002s ago] ('5앨범_장르2_노래4', 5, 1)
2023-09-06 11:01:18,848 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,849 INFO sqlalchemy.engine.Engine [cached since 0.1026s ago] ('%3',)
2023-09-06 11:01:18,849 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,849 INFO sqlalchemy.engine.Engine [cached since 0.1013s ago] ('5앨범_장르3_노래1', 5, 1)
2023-09-06 11:01:18,849 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,850 INFO sqlalchemy.engine.Engine [cached since 0.1036s ago] ('%3',)
2023-09-06 11:01:18,850 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,850 INFO sqlalchemy.engine.Engine [cached since 0.1024s ago] ('5앨범_장르3_노래2', 5, 1)
2023-09-06 11:01:18,851 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,851 INFO sqlalchemy.engine.Engine [cached since 0.1048s ago] ('%3',)
2023-09-06 11:01:18,851 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,851 INFO sqlalchemy.engine.Engine [cached since 0.1034s ago] ('5앨범_장르3_노래3', 5, 1)
2023-09-06 11:01:18,852 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,852 INFO sqlalchemy.engine.Engine [cached since 0.1058s ago] ('%3',)
2023-09-06 11:01:18,852 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,853 INFO sqlalchemy.engine.Engine [cached since 0.1047s ago] ('5앨범_장르3_노래4', 5, 1)
2023-09-06 11:01:18,853 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,853 INFO sqlalchemy.engine.Engine [cached since 0.1072s ago] ('%4',)
2023-09-06 11:01:18,854 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,854 INFO sqlalchemy.engine.Engine [cached since 0.1061s ago] ('5앨범_장르4_노래1', 5, 1)
2023-09-06 11:01:18,854 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,854 INFO sqlalchemy.engine.Engine [cached since 0.1085s ago] ('%4',)
2023-09-06 11:01:18,855 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,855 INFO sqlalchemy.engine.Engine [cached since 0.1073s ago] ('5앨범_장르4_노래2', 5, 1)
2023-09-06 11:01:18,856 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,856 INFO sqlalchemy.engine.Engine [cached since 0.1098s ago] ('%4',)
2023-09-06 11:01:18,856 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,856 INFO sqlalchemy.engine.Engine [cached since 0.1086s ago] ('5앨범_장르4_노래3', 5, 1)
2023-09-06 11:01:18,857 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,857 INFO sqlalchemy.engine.Engine [cached since 0.1112s ago] ('%4',)
2023-09-06 11:01:18,858 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,858 INFO sqlalchemy.engine.Engine [cached since 0.1101s ago] ('5앨범_장르4_노래4', 5, 1)
2023-09-06 11:01:18,858 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,859 INFO sqlalchemy.engine.Engine [cached since 0.1126s ago] ('%1',)
2023-09-06 11:01:18,859 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,859 INFO sqlalchemy.engine.Engine [cached since 0.1113s ago] ('6앨범_장르1_노래1', 6, 1)
2023-09-06 11:01:18,859 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,860 INFO sqlalchemy.engine.Engine [cached since 0.1137s ago] ('%1',)
2023-09-06 11:01:18,860 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,860 INFO sqlalchemy.engine.Engine [cached since 0.1124s ago] ('6앨범_장르1_노래2', 6, 1)
2023-09-06 11:01:18,861 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,861 INFO sqlalchemy.engine.Engine [cached since 0.1148s ago] ('%1',)
2023-09-06 11:01:18,861 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,861 INFO sqlalchemy.engine.Engine [cached since 0.1134s ago] ('6앨범_장르1_노래3', 6, 1)
2023-09-06 11:01:18,862 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,862 INFO sqlalchemy.engine.Engine [cached since 0.1159s ago] ('%1',)
2023-09-06 11:01:18,862 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,862 INFO sqlalchemy.engine.Engine [cached since 0.1146s ago] ('6앨범_장르1_노래4', 6, 1)
2023-09-06 11:01:18,863 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,863 INFO sqlalchemy.engine.Engine [cached since 0.117s ago] ('%2',)
2023-09-06 11:01:18,863 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,864 INFO sqlalchemy.engine.Engine [cached since 0.1157s ago] ('6앨범_장르2_노래1', 6, 1)
2023-09-06 11:01:18,864 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,864 INFO sqlalchemy.engine.Engine [cached since 0.1181s ago] ('%2',)
2023-09-06 11:01:18,864 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,865 INFO sqlalchemy.engine.Engine [cached since 0.1168s ago] ('6앨범_장르2_노래2', 6, 1)
2023-09-06 11:01:18,865 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,865 INFO sqlalchemy.engine.Engine [cached since 0.1192s ago] ('%2',)
2023-09-06 11:01:18,865 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,866 INFO sqlalchemy.engine.Engine [cached since 0.1178s ago] ('6앨범_장르2_노래3', 6, 1)
2023-09-06 11:01:18,866 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,866 INFO sqlalchemy.engine.Engine [cached since 0.1202s ago] ('%2',)
2023-09-06 11:01:18,867 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,867 INFO sqlalchemy.engine.Engine [cached since 0.1188s ago] ('6앨범_장르2_노래4', 6, 1)
2023-09-06 11:01:18,867 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,867 INFO sqlalchemy.engine.Engine [cached since 0.1212s ago] ('%3',)
2023-09-06 11:01:18,868 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,868 INFO sqlalchemy.engine.Engine [cached since 0.12s ago] ('6앨범_장르3_노래1', 6, 1)
2023-09-06 11:01:18,868 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,868 INFO sqlalchemy.engine.Engine [cached since 0.1225s ago] ('%3',)
2023-09-06 11:01:18,869 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,869 INFO sqlalchemy.engine.Engine [cached since 0.1212s ago] ('6앨범_장르3_노래2', 6, 1)
2023-09-06 11:01:18,869 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,870 INFO sqlalchemy.engine.Engine [cached since 0.1237s ago] ('%3',)
2023-09-06 11:01:18,870 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,870 INFO sqlalchemy.engine.Engine [cached since 0.1225s ago] ('6앨범_장르3_노래3', 6, 1)
2023-09-06 11:01:18,871 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,871 INFO sqlalchemy.engine.Engine [cached since 0.125s ago] ('%3',)
2023-09-06 11:01:18,871 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,872 INFO sqlalchemy.engine.Engine [cached since 0.1238s ago] ('6앨범_장르3_노래4', 6, 1)
2023-09-06 11:01:18,872 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,872 INFO sqlalchemy.engine.Engine [cached since 0.1264s ago] ('%4',)
2023-09-06 11:01:18,873 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,873 INFO sqlalchemy.engine.Engine [cached since 0.125s ago] ('6앨범_장르4_노래1', 6, 1)
2023-09-06 11:01:18,873 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,873 INFO sqlalchemy.engine.Engine [cached since 0.1275s ago] ('%4',)
2023-09-06 11:01:18,874 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,874 INFO sqlalchemy.engine.Engine [cached since 0.1263s ago] ('6앨범_장르4_노래2', 6, 1)
2023-09-06 11:01:18,875 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,875 INFO sqlalchemy.engine.Engine [cached since 0.1288s ago] ('%4',)
2023-09-06 11:01:18,875 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,875 INFO sqlalchemy.engine.Engine [cached since 0.1275s ago] ('6앨범_장르4_노래3', 6, 1)
2023-09-06 11:01:18,876 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,876 INFO sqlalchemy.engine.Engine [cached since 0.1299s ago] ('%4',)
2023-09-06 11:01:18,876 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,877 INFO sqlalchemy.engine.Engine [cached since 0.1287s ago] ('6앨범_장르4_노래4', 6, 1)
2023-09-06 11:01:18,877 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,877 INFO sqlalchemy.engine.Engine [cached since 0.131s ago] ('%1',)
2023-09-06 11:01:18,877 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,878 INFO sqlalchemy.engine.Engine [cached since 0.1298s ago] ('7앨범_장르1_노래1', 7, 1)
2023-09-06 11:01:18,878 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,878 INFO sqlalchemy.engine.Engine [cached since 0.1321s ago] ('%1',)
2023-09-06 11:01:18,878 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,879 INFO sqlalchemy.engine.Engine [cached since 0.1307s ago] ('7앨범_장르1_노래2', 7, 1)
2023-09-06 11:01:18,879 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,879 INFO sqlalchemy.engine.Engine [cached since 0.1331s ago] ('%1',)
2023-09-06 11:01:18,879 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,880 INFO sqlalchemy.engine.Engine [cached since 0.1318s ago] ('7앨범_장르1_노래3', 7, 1)
2023-09-06 11:01:18,880 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,880 INFO sqlalchemy.engine.Engine [cached since 0.1342s ago] ('%1',)
2023-09-06 11:01:18,881 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,881 INFO sqlalchemy.engine.Engine [cached since 0.133s ago] ('7앨범_장르1_노래4', 7, 1)
2023-09-06 11:01:18,881 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,881 INFO sqlalchemy.engine.Engine [cached since 0.1354s ago] ('%2',)
2023-09-06 11:01:18,882 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,882 INFO sqlalchemy.engine.Engine [cached since 0.1341s ago] ('7앨범_장르2_노래1', 7, 1)
2023-09-06 11:01:18,882 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,883 INFO sqlalchemy.engine.Engine [cached since 0.1366s ago] ('%2',)
2023-09-06 11:01:18,883 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,883 INFO sqlalchemy.engine.Engine [cached since 0.1353s ago] ('7앨범_장르2_노래2', 7, 1)
2023-09-06 11:01:18,884 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,884 INFO sqlalchemy.engine.Engine [cached since 0.1378s ago] ('%2',)
2023-09-06 11:01:18,884 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,884 INFO sqlalchemy.engine.Engine [cached since 0.1365s ago] ('7앨범_장르2_노래3', 7, 1)
2023-09-06 11:01:18,885 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,885 INFO sqlalchemy.engine.Engine [cached since 0.139s ago] ('%2',)
2023-09-06 11:01:18,886 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,886 INFO sqlalchemy.engine.Engine [cached since 0.138s ago] ('7앨범_장르2_노래4', 7, 1)
2023-09-06 11:01:18,886 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,886 INFO sqlalchemy.engine.Engine [cached since 0.1403s ago] ('%3',)
2023-09-06 11:01:18,887 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,887 INFO sqlalchemy.engine.Engine [cached since 0.1392s ago] ('7앨범_장르3_노래1', 7, 1)
2023-09-06 11:01:18,887 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,888 INFO sqlalchemy.engine.Engine [cached since 0.1417s ago] ('%3',)
2023-09-06 11:01:18,888 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,888 INFO sqlalchemy.engine.Engine [cached since 0.1404s ago] ('7앨범_장르3_노래2', 7, 1)
2023-09-06 11:01:18,889 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,889 INFO sqlalchemy.engine.Engine [cached since 0.1427s ago] ('%3',)
2023-09-06 11:01:18,889 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,889 INFO sqlalchemy.engine.Engine [cached since 0.1414s ago] ('7앨범_장르3_노래3', 7, 1)
2023-09-06 11:01:18,890 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,890 INFO sqlalchemy.engine.Engine [cached since 0.1438s ago] ('%3',)
2023-09-06 11:01:18,890 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,890 INFO sqlalchemy.engine.Engine [cached since 0.1424s ago] ('7앨범_장르3_노래4', 7, 1)
2023-09-06 11:01:18,891 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,891 INFO sqlalchemy.engine.Engine [cached since 0.1448s ago] ('%4',)
2023-09-06 11:01:18,891 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,891 INFO sqlalchemy.engine.Engine [cached since 0.1435s ago] ('7앨범_장르4_노래1', 7, 1)
2023-09-06 11:01:18,892 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,892 INFO sqlalchemy.engine.Engine [cached since 0.1461s ago] ('%4',)
2023-09-06 11:01:18,892 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,893 INFO sqlalchemy.engine.Engine [cached since 0.1449s ago] ('7앨범_장르4_노래2', 7, 1)
2023-09-06 11:01:18,893 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,893 INFO sqlalchemy.engine.Engine [cached since 0.1473s ago] ('%4',)
2023-09-06 11:01:18,894 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,894 INFO sqlalchemy.engine.Engine [cached since 0.1462s ago] ('7앨범_장르4_노래3', 7, 1)
2023-09-06 11:01:18,894 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,895 INFO sqlalchemy.engine.Engine [cached since 0.1486s ago] ('%4',)
2023-09-06 11:01:18,895 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,895 INFO sqlalchemy.engine.Engine [cached since 0.1473s ago] ('7앨범_장르4_노래4', 7, 1)
2023-09-06 11:01:18,896 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,896 INFO sqlalchemy.engine.Engine [cached since 0.1499s ago] ('%1',)
2023-09-06 11:01:18,896 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,897 INFO sqlalchemy.engine.Engine [cached since 0.1488s ago] ('8앨범_장르1_노래1', 8, 1)
2023-09-06 11:01:18,897 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,897 INFO sqlalchemy.engine.Engine [cached since 0.1512s ago] ('%1',)
2023-09-06 11:01:18,898 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,898 INFO sqlalchemy.engine.Engine [cached since 0.1499s ago] ('8앨범_장르1_노래2', 8, 1)
2023-09-06 11:01:18,898 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,898 INFO sqlalchemy.engine.Engine [cached since 0.1523s ago] ('%1',)
2023-09-06 11:01:18,899 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,899 INFO sqlalchemy.engine.Engine [cached since 0.1513s ago] ('8앨범_장르1_노래3', 8, 1)
2023-09-06 11:01:18,908 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,909 INFO sqlalchemy.engine.Engine [cached since 0.1626s ago] ('%1',)
2023-09-06 11:01:18,909 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,909 INFO sqlalchemy.engine.Engine [cached since 0.1616s ago] ('8앨범_장르1_노래4', 8, 1)
2023-09-06 11:01:18,910 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,910 INFO sqlalchemy.engine.Engine [cached since 0.1641s ago] ('%2',)
2023-09-06 11:01:18,911 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,911 INFO sqlalchemy.engine.Engine [cached since 0.163s ago] ('8앨범_장르2_노래1', 8, 1)
2023-09-06 11:01:18,911 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,912 INFO sqlalchemy.engine.Engine [cached since 0.1655s ago] ('%2',)
2023-09-06 11:01:18,912 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,912 INFO sqlalchemy.engine.Engine [cached since 0.1642s ago] ('8앨범_장르2_노래2', 8, 1)
2023-09-06 11:01:18,913 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,913 INFO sqlalchemy.engine.Engine [cached since 0.1668s ago] ('%2',)
2023-09-06 11:01:18,913 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,913 INFO sqlalchemy.engine.Engine [cached since 0.1655s ago] ('8앨범_장르2_노래3', 8, 1)
2023-09-06 11:01:18,914 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,914 INFO sqlalchemy.engine.Engine [cached since 0.1683s ago] ('%2',)
2023-09-06 11:01:18,915 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,915 INFO sqlalchemy.engine.Engine [cached since 0.1671s ago] ('8앨범_장르2_노래4', 8, 1)
2023-09-06 11:01:18,915 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,916 INFO sqlalchemy.engine.Engine [cached since 0.1696s ago] ('%3',)
2023-09-06 11:01:18,916 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,916 INFO sqlalchemy.engine.Engine [cached since 0.1683s ago] ('8앨범_장르3_노래1', 8, 1)
2023-09-06 11:01:18,917 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,917 INFO sqlalchemy.engine.Engine [cached since 0.1707s ago] ('%3',)
2023-09-06 11:01:18,917 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,917 INFO sqlalchemy.engine.Engine [cached since 0.1694s ago] ('8앨범_장르3_노래2', 8, 1)
2023-09-06 11:01:18,918 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,918 INFO sqlalchemy.engine.Engine [cached since 0.1717s ago] ('%3',)
2023-09-06 11:01:18,918 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,918 INFO sqlalchemy.engine.Engine [cached since 0.1704s ago] ('8앨범_장르3_노래3', 8, 1)
2023-09-06 11:01:18,919 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,919 INFO sqlalchemy.engine.Engine [cached since 0.1727s ago] ('%3',)
2023-09-06 11:01:18,919 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,919 INFO sqlalchemy.engine.Engine [cached since 0.1714s ago] ('8앨범_장르3_노래4', 8, 1)
2023-09-06 11:01:18,920 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,920 INFO sqlalchemy.engine.Engine [cached since 0.1738s ago] ('%4',)
2023-09-06 11:01:18,920 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,920 INFO sqlalchemy.engine.Engine [cached since 0.1724s ago] ('8앨범_장르4_노래1', 8, 1)
2023-09-06 11:01:18,921 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,921 INFO sqlalchemy.engine.Engine [cached since 0.1749s ago] ('%4',)
2023-09-06 11:01:18,921 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,922 INFO sqlalchemy.engine.Engine [cached since 0.1736s ago] ('8앨범_장르4_노래2', 8, 1)
2023-09-06 11:01:18,922 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,922 INFO sqlalchemy.engine.Engine [cached since 0.176s ago] ('%4',)
2023-09-06 11:01:18,922 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,923 INFO sqlalchemy.engine.Engine [cached since 0.1748s ago] ('8앨범_장르4_노래3', 8, 1)
2023-09-06 11:01:18,923 INFO sqlalchemy.engine.Engine SELECT "T_C"."PK"
FROM "T_C", "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:18,923 INFO sqlalchemy.engine.Engine [cached since 0.1772s ago] ('%4',)
2023-09-06 11:01:18,924 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:18,924 INFO sqlalchemy.engine.Engine [cached since 0.176s ago] ('8앨범_장르4_노래4', 8, 1)
/var/folders/f0/k4g2cj1136ndwgcvyy1kl7l40000gn/T/ipykernel_41452/3855642904.py:5: SAWarning: SELECT statement has a cartesian product between FROM element(s) "T_A" and FROM element "T_C".  Apply join condition(s) between each element to resolve.
  fk = con.execute(select(C.c.PK).where(
  T_A          T_B        T_C        T_D
1 가수1     1 가수1_앨범1   1 장르1    1 앨범1_장르1_노래1 1 1
2 가수2     2 가수1_앨범2   2 장르2    2 앨범1_장르1_노래2 1 2 ...
           3 가수2_앨범1   3 장르3
           3 가수2_앨범1   4 장르4
con.execute(select(func.count(A.c.PK))).fetchall(),\
con.execute(select(func.count(B.c.PK))).fetchall(),\
con.execute(select(func.count(C.c.PK))).fetchall(),\
con.execute(select(func.count(D.c.PK))).fetchall()
2023-09-06 11:08:06,634 INFO sqlalchemy.engine.Engine SELECT count("T_A"."PK") AS count_1
FROM "T_A"
2023-09-06 11:08:06,639 INFO sqlalchemy.engine.Engine [cached since 135.2s ago] ()
2023-09-06 11:08:06,641 INFO sqlalchemy.engine.Engine SELECT count("T_B"."PK") AS count_1
FROM "T_B"
2023-09-06 11:08:06,642 INFO sqlalchemy.engine.Engine [cached since 27.73s ago] ()
2023-09-06 11:08:06,644 INFO sqlalchemy.engine.Engine SELECT count("T_C"."PK") AS count_1
FROM "T_C"
2023-09-06 11:08:06,645 INFO sqlalchemy.engine.Engine [generated in 0.00070s] ()
2023-09-06 11:08:06,646 INFO sqlalchemy.engine.Engine SELECT count("T_D"."PK") AS count_1
FROM "T_D"
2023-09-06 11:08:06,646 INFO sqlalchemy.engine.Engine [generated in 0.00033s] ()
([(4,)], [(8,)], [(4,)], [(128,)])
print(select(A.c.NAME, B.c.NAME).where(A.c.PK==B.c.FK))
SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A", "T_B"
WHERE "T_A"."PK" = "T_B"."FK"
# 가수-앨범
print(select(A.c.NAME, B.c.NAME).join(B))
print(select(A.c.NAME, B.c.NAME).join(B, A.c.PK==B.c.FK))
SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK"
SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK"
print(select(A.c.NAME, B.c.NAME).select_from(A.join(B)))
SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK"
con.execute(select(A.c.NAME, B.c.NAME).\
            select_from(A.join(B)).\
            order_by(B.c.PK)).fetchall()
2023-09-06 11:12:41,497 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" ORDER BY "T_B"."PK"
2023-09-06 11:12:41,500 INFO sqlalchemy.engine.Engine [generated in 0.00391s] ()
[('가수1', '가수1_앨범1'),
 ('가수1', '가수1_앨범2'),
 ('가수2', '가수2_앨범1'),
 ('가수2', '가수2_앨범2'),
 ('가수3', '가수3_앨범1'),
 ('가수3', '가수3_앨범2'),
 ('가수4', '가수4_앨범1'),
 ('가수4', '가수4_앨범2')]
con.execute(select(A.c.NAME, func.count(B.c.NAME)).\
            select_from(A.join(B)).\
            group_by(A.c.NAME)).fetchall()
2023-09-06 11:14:04,699 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", count("T_B"."NAME") AS count_1
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" GROUP BY "T_A"."NAME"
2023-09-06 11:14:04,703 INFO sqlalchemy.engine.Engine [generated in 0.00375s] ()
[('가수1', 2), ('가수2', 2), ('가수3', 2), ('가수4', 2)]
# 가수-앨범-노래
print(select(A.c.NAME, B.c.NAME, D.c.NAME).\
      select_from(A.join(B.join(D))))
# 위에것은 PF=FK REFRENCE 가정하에
# join(T_A, join(T_B, T_D))
SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_D"."NAME" AS "NAME_2"
FROM "T_A" JOIN ("T_B" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1") ON "T_A"."PK" = "T_B"."FK"
con.execute(select(A.c.NAME, B.c.NAME, D.c.NAME).\
      select_from(A.join(B.join(D)))).fetchall()
2023-09-06 11:45:39,982 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_D"."NAME" AS "NAME_2"
FROM "T_A" JOIN ("T_B" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1") ON "T_A"."PK" = "T_B"."FK"
2023-09-06 11:45:39,987 INFO sqlalchemy.engine.Engine [generated in 0.00531s] ()
[('가수1', '가수1_앨범1', '1앨범_장르1_노래1'),
 ('가수1', '가수1_앨범1', '1앨범_장르1_노래2'),
 ('가수1', '가수1_앨범1', '1앨범_장르1_노래3'),
 ('가수1', '가수1_앨범1', '1앨범_장르1_노래4'),
 ('가수1', '가수1_앨범1', '1앨범_장르2_노래1'),
 ('가수1', '가수1_앨범1', '1앨범_장르2_노래2'),
 ('가수1', '가수1_앨범1', '1앨범_장르2_노래3'),
 ('가수1', '가수1_앨범1', '1앨범_장르2_노래4'),
 ('가수1', '가수1_앨범1', '1앨범_장르3_노래1'),
 ('가수1', '가수1_앨범1', '1앨범_장르3_노래2'),
 ('가수1', '가수1_앨범1', '1앨범_장르3_노래3'),
 ('가수1', '가수1_앨범1', '1앨범_장르3_노래4'),
 ('가수1', '가수1_앨범1', '1앨범_장르4_노래1'),
 ('가수1', '가수1_앨범1', '1앨범_장르4_노래2'),
 ('가수1', '가수1_앨범1', '1앨범_장르4_노래3'),
 ('가수1', '가수1_앨범1', '1앨범_장르4_노래4'),
 ('가수1', '가수1_앨범2', '2앨범_장르1_노래1'),
 ('가수1', '가수1_앨범2', '2앨범_장르1_노래2'),
 ('가수1', '가수1_앨범2', '2앨범_장르1_노래3'),
 ('가수1', '가수1_앨범2', '2앨범_장르1_노래4'),
 ('가수1', '가수1_앨범2', '2앨범_장르2_노래1'),
 ('가수1', '가수1_앨범2', '2앨범_장르2_노래2'),
 ('가수1', '가수1_앨범2', '2앨범_장르2_노래3'),
 ('가수1', '가수1_앨범2', '2앨범_장르2_노래4'),
 ('가수1', '가수1_앨범2', '2앨범_장르3_노래1'),
 ('가수1', '가수1_앨범2', '2앨범_장르3_노래2'),
 ('가수1', '가수1_앨범2', '2앨범_장르3_노래3'),
 ('가수1', '가수1_앨범2', '2앨범_장르3_노래4'),
 ('가수1', '가수1_앨범2', '2앨범_장르4_노래1'),
 ('가수1', '가수1_앨범2', '2앨범_장르4_노래2'),
 ('가수1', '가수1_앨범2', '2앨범_장르4_노래3'),
 ('가수1', '가수1_앨범2', '2앨범_장르4_노래4'),
 ('가수2', '가수2_앨범1', '3앨범_장르1_노래1'),
 ('가수2', '가수2_앨범1', '3앨범_장르1_노래2'),
 ('가수2', '가수2_앨범1', '3앨범_장르1_노래3'),
 ('가수2', '가수2_앨범1', '3앨범_장르1_노래4'),
 ('가수2', '가수2_앨범1', '3앨범_장르2_노래1'),
 ('가수2', '가수2_앨범1', '3앨범_장르2_노래2'),
 ('가수2', '가수2_앨범1', '3앨범_장르2_노래3'),
 ('가수2', '가수2_앨범1', '3앨범_장르2_노래4'),
 ('가수2', '가수2_앨범1', '3앨범_장르3_노래1'),
 ('가수2', '가수2_앨범1', '3앨범_장르3_노래2'),
 ('가수2', '가수2_앨범1', '3앨범_장르3_노래3'),
 ('가수2', '가수2_앨범1', '3앨범_장르3_노래4'),
 ('가수2', '가수2_앨범1', '3앨범_장르4_노래1'),
 ('가수2', '가수2_앨범1', '3앨범_장르4_노래2'),
 ('가수2', '가수2_앨범1', '3앨범_장르4_노래3'),
 ('가수2', '가수2_앨범1', '3앨범_장르4_노래4'),
 ('가수2', '가수2_앨범2', '4앨범_장르1_노래1'),
 ('가수2', '가수2_앨범2', '4앨범_장르1_노래2'),
 ('가수2', '가수2_앨범2', '4앨범_장르1_노래3'),
 ('가수2', '가수2_앨범2', '4앨범_장르1_노래4'),
 ('가수2', '가수2_앨범2', '4앨범_장르2_노래1'),
 ('가수2', '가수2_앨범2', '4앨범_장르2_노래2'),
 ('가수2', '가수2_앨범2', '4앨범_장르2_노래3'),
 ('가수2', '가수2_앨범2', '4앨범_장르2_노래4'),
 ('가수2', '가수2_앨범2', '4앨범_장르3_노래1'),
 ('가수2', '가수2_앨범2', '4앨범_장르3_노래2'),
 ('가수2', '가수2_앨범2', '4앨범_장르3_노래3'),
 ('가수2', '가수2_앨범2', '4앨범_장르3_노래4'),
 ('가수2', '가수2_앨범2', '4앨범_장르4_노래1'),
 ('가수2', '가수2_앨범2', '4앨범_장르4_노래2'),
 ('가수2', '가수2_앨범2', '4앨범_장르4_노래3'),
 ('가수2', '가수2_앨범2', '4앨범_장르4_노래4'),
 ('가수3', '가수3_앨범1', '5앨범_장르1_노래1'),
 ('가수3', '가수3_앨범1', '5앨범_장르1_노래2'),
 ('가수3', '가수3_앨범1', '5앨범_장르1_노래3'),
 ('가수3', '가수3_앨범1', '5앨범_장르1_노래4'),
 ('가수3', '가수3_앨범1', '5앨범_장르2_노래1'),
 ('가수3', '가수3_앨범1', '5앨범_장르2_노래2'),
 ('가수3', '가수3_앨범1', '5앨범_장르2_노래3'),
 ('가수3', '가수3_앨범1', '5앨범_장르2_노래4'),
 ('가수3', '가수3_앨범1', '5앨범_장르3_노래1'),
 ('가수3', '가수3_앨범1', '5앨범_장르3_노래2'),
 ('가수3', '가수3_앨범1', '5앨범_장르3_노래3'),
 ('가수3', '가수3_앨범1', '5앨범_장르3_노래4'),
 ('가수3', '가수3_앨범1', '5앨범_장르4_노래1'),
 ('가수3', '가수3_앨범1', '5앨범_장르4_노래2'),
 ('가수3', '가수3_앨범1', '5앨범_장르4_노래3'),
 ('가수3', '가수3_앨범1', '5앨범_장르4_노래4'),
 ('가수3', '가수3_앨범2', '6앨범_장르1_노래1'),
 ('가수3', '가수3_앨범2', '6앨범_장르1_노래2'),
 ('가수3', '가수3_앨범2', '6앨범_장르1_노래3'),
 ('가수3', '가수3_앨범2', '6앨범_장르1_노래4'),
 ('가수3', '가수3_앨범2', '6앨범_장르2_노래1'),
 ('가수3', '가수3_앨범2', '6앨범_장르2_노래2'),
 ('가수3', '가수3_앨범2', '6앨범_장르2_노래3'),
 ('가수3', '가수3_앨범2', '6앨범_장르2_노래4'),
 ('가수3', '가수3_앨범2', '6앨범_장르3_노래1'),
 ('가수3', '가수3_앨범2', '6앨범_장르3_노래2'),
 ('가수3', '가수3_앨범2', '6앨범_장르3_노래3'),
 ('가수3', '가수3_앨범2', '6앨범_장르3_노래4'),
 ('가수3', '가수3_앨범2', '6앨범_장르4_노래1'),
 ('가수3', '가수3_앨범2', '6앨범_장르4_노래2'),
 ('가수3', '가수3_앨범2', '6앨범_장르4_노래3'),
 ('가수3', '가수3_앨범2', '6앨범_장르4_노래4'),
 ('가수4', '가수4_앨범1', '7앨범_장르1_노래1'),
 ('가수4', '가수4_앨범1', '7앨범_장르1_노래2'),
 ('가수4', '가수4_앨범1', '7앨범_장르1_노래3'),
 ('가수4', '가수4_앨범1', '7앨범_장르1_노래4'),
 ('가수4', '가수4_앨범1', '7앨범_장르2_노래1'),
 ('가수4', '가수4_앨범1', '7앨범_장르2_노래2'),
 ('가수4', '가수4_앨범1', '7앨범_장르2_노래3'),
 ('가수4', '가수4_앨범1', '7앨범_장르2_노래4'),
 ('가수4', '가수4_앨범1', '7앨범_장르3_노래1'),
 ('가수4', '가수4_앨범1', '7앨범_장르3_노래2'),
 ('가수4', '가수4_앨범1', '7앨범_장르3_노래3'),
 ('가수4', '가수4_앨범1', '7앨범_장르3_노래4'),
 ('가수4', '가수4_앨범1', '7앨범_장르4_노래1'),
 ('가수4', '가수4_앨범1', '7앨범_장르4_노래2'),
 ('가수4', '가수4_앨범1', '7앨범_장르4_노래3'),
 ('가수4', '가수4_앨범1', '7앨범_장르4_노래4'),
 ('가수4', '가수4_앨범2', '8앨범_장르1_노래1'),
 ('가수4', '가수4_앨범2', '8앨범_장르1_노래2'),
 ('가수4', '가수4_앨범2', '8앨범_장르1_노래3'),
 ('가수4', '가수4_앨범2', '8앨범_장르1_노래4'),
 ('가수4', '가수4_앨범2', '8앨범_장르2_노래1'),
 ('가수4', '가수4_앨범2', '8앨범_장르2_노래2'),
 ('가수4', '가수4_앨범2', '8앨범_장르2_노래3'),
 ('가수4', '가수4_앨범2', '8앨범_장르2_노래4'),
 ('가수4', '가수4_앨범2', '8앨범_장르3_노래1'),
 ('가수4', '가수4_앨범2', '8앨범_장르3_노래2'),
 ('가수4', '가수4_앨범2', '8앨범_장르3_노래3'),
 ('가수4', '가수4_앨범2', '8앨범_장르3_노래4'),
 ('가수4', '가수4_앨범2', '8앨범_장르4_노래1'),
 ('가수4', '가수4_앨범2', '8앨범_장르4_노래2'),
 ('가수4', '가수4_앨범2', '8앨범_장르4_노래3'),
 ('가수4', '가수4_앨범2', '8앨범_장르4_노래4')]
con.execute(select(A.c.NAME, B.c.NAME, func.count(D.c.NAME)).\
      select_from(A.join(B.join(D))).\
      group_by(B.c.PK))\
    .fetchall()
2023-09-06 11:46:31,623 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", count("T_D"."NAME") AS count_1
FROM "T_A" JOIN ("T_B" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1") ON "T_A"."PK" = "T_B"."FK" GROUP BY "T_B"."PK"
2023-09-06 11:46:31,631 INFO sqlalchemy.engine.Engine [generated in 0.00833s] ()
[('가수1', '가수1_앨범1', 16),
 ('가수1', '가수1_앨범2', 16),
 ('가수2', '가수2_앨범1', 16),
 ('가수2', '가수2_앨범2', 16),
 ('가수3', '가수3_앨범1', 16),
 ('가수3', '가수3_앨범2', 16),
 ('가수4', '가수4_앨범1', 16),
 ('가수4', '가수4_앨범2', 16)]
con.execute(select(A.c.NAME, B.c.NAME, func.count(D.c.NAME)).\
      select_from(A.join(B.join(D))).\
      where(A.c.NAME.like('%3')).\
      group_by(B.c.PK))\
    .fetchall()
2023-09-06 11:48:16,346 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", count("T_D"."NAME") AS count_1
FROM "T_A" JOIN ("T_B" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1") ON "T_A"."PK" = "T_B"."FK"
WHERE "T_A"."NAME" LIKE ? GROUP BY "T_B"."PK"
2023-09-06 11:48:16,349 INFO sqlalchemy.engine.Engine [cached since 12.95s ago] ('%3',)
[('가수3', '가수3_앨범1', 16), ('가수3', '가수3_앨범2', 16)]
# executemany
print(insert(A).values([{'NAME':'아무개1'}, {'NAME':'아무개2'}]))
INSERT INTO "T_A" ("NAME") VALUES (:NAME_m0), (:NAME_m1)
con.execute(insert(A).values([{'NAME':'아무개1'}, {'NAME':'아무개2'}]))
2023-09-06 11:53:36,003 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?), (?)
2023-09-06 11:53:36,008 INFO sqlalchemy.engine.Engine [no key 0.00569s] ('아무개1', '아무개2')
<sqlalchemy.engine.cursor.CursorResult at 0x12f0d99a0>
con.execute(select(A)).fetchall()
2023-09-06 11:53:49,254 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK", "T_A"."NAME"
FROM "T_A"
2023-09-06 11:53:49,259 INFO sqlalchemy.engine.Engine [generated in 0.00507s] ()
[(1, '가수1'), (2, '가수2'), (3, '가수3'), (4, '가수4'), (5, '아무개1'), (6, '아무개2')]
print(select(A.c.NAME, B.c.NAME, D.c.NAME)\
      .select_from(A.join(B).join(D)))
SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_D"."NAME" AS "NAME_2"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1"
# 가수 - 앨범 - 장르 - 노래
print(select(A.c.NAME, B.c.NAME, C.c.NAME, D.c.NAME).\
      select_from(A.join(B).join(D).join(C, C.c.PK==D.c.FK2)))
SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_C"."NAME" AS "NAME_2", "T_D"."NAME" AS "NAME_3"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1" JOIN "T_C" ON "T_C"."PK" = "T_D"."FK2"
con.execute(select(A.c.NAME, B.c.NAME, C.c.NAME, D.c.NAME).\
      select_from(A.join(B).join(D).join(C, C.c.PK==D.c.FK2))).fetchall()
2023-09-06 11:58:23,268 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_C"."NAME" AS "NAME_2", "T_D"."NAME" AS "NAME_3"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1" JOIN "T_C" ON "T_C"."PK" = "T_D"."FK2"
2023-09-06 11:58:23,272 INFO sqlalchemy.engine.Engine [generated in 0.00462s] ()
[('가수1', '가수1_앨범1', '장르1', '1앨범_장르1_노래1'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르1_노래2'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르1_노래3'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르1_노래4'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르2_노래1'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르2_노래2'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르2_노래3'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르2_노래4'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르3_노래1'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르3_노래2'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르3_노래3'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르3_노래4'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르4_노래1'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르4_노래2'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르4_노래3'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르4_노래4'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르1_노래1'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르1_노래2'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르1_노래3'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르1_노래4'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르2_노래1'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르2_노래2'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르2_노래3'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르2_노래4'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르3_노래1'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르3_노래2'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르3_노래3'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르3_노래4'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르4_노래1'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르4_노래2'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르4_노래3'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르4_노래4'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르1_노래1'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르1_노래2'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르1_노래3'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르1_노래4'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르2_노래1'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르2_노래2'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르2_노래3'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르2_노래4'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르3_노래1'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르3_노래2'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르3_노래3'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르3_노래4'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르4_노래1'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르4_노래2'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르4_노래3'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르4_노래4'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르1_노래1'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르1_노래2'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르1_노래3'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르1_노래4'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르2_노래1'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르2_노래2'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르2_노래3'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르2_노래4'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르3_노래1'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르3_노래2'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르3_노래3'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르3_노래4'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르4_노래1'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르4_노래2'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르4_노래3'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르4_노래4'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르1_노래1'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르1_노래2'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르1_노래3'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르1_노래4'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르2_노래1'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르2_노래2'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르2_노래3'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르2_노래4'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르3_노래1'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르3_노래2'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르3_노래3'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르3_노래4'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르4_노래1'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르4_노래2'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르4_노래3'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르4_노래4'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르1_노래1'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르1_노래2'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르1_노래3'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르1_노래4'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르2_노래1'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르2_노래2'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르2_노래3'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르2_노래4'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르3_노래1'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르3_노래2'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르3_노래3'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르3_노래4'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르4_노래1'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르4_노래2'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르4_노래3'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르4_노래4'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르1_노래1'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르1_노래2'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르1_노래3'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르1_노래4'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르2_노래1'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르2_노래2'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르2_노래3'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르2_노래4'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르3_노래1'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르3_노래2'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르3_노래3'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르3_노래4'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르4_노래1'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르4_노래2'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르4_노래3'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르4_노래4'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르1_노래1'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르1_노래2'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르1_노래3'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르1_노래4'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르2_노래1'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르2_노래2'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르2_노래3'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르2_노래4'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르3_노래1'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르3_노래2'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르3_노래3'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르3_노래4'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르4_노래1'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르4_노래2'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르4_노래3'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르4_노래4')]
#
meta.drop_all(engine)
meta.clear()
2023-09-06 12:01:47,506 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 12:01:47,511 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_A")
2023-09-06 12:01:47,513 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:01:47,514 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_B")
2023-09-06 12:01:47,515 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:01:47,516 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_C")
2023-09-06 12:01:47,517 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:01:47,518 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_D")
2023-09-06 12:01:47,518 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:01:47,519 INFO sqlalchemy.engine.Engine
DROP TABLE "T_D"
2023-09-06 12:01:47,520 INFO sqlalchemy.engine.Engine [no key 0.00080s] ()
2023-09-06 12:01:47,521 INFO sqlalchemy.engine.Engine ROLLBACK
---------------------------------------------------------------------------
OperationalError                          Traceback (most recent call last)
File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py:1965, in Connection._exec_single_context(self, dialect, context, statement, parameters)
   1964     if not evt_handled:
-> 1965         self.dialect.do_execute(
   1966             cursor, str_statement, effective_parameters, context
   1967         )
   1969 if self._has_events or self.engine._has_events:

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py:921, in DefaultDialect.do_execute(self, cursor, statement, parameters, context)
    920 def do_execute(self, cursor, statement, parameters, context=None):
--> 921     cursor.execute(statement, parameters)

OperationalError: database table is locked

The above exception was the direct cause of the following exception:

OperationalError                          Traceback (most recent call last)
Cell In [184], line 2
      1 #
----> 2 meta.drop_all(engine)
      3 meta.clear()

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/sql/schema.py:5850, in MetaData.drop_all(self, bind, tables, checkfirst)
   5826 def drop_all(
   5827     self,
   5828     bind: _CreateDropBind,
   5829     tables: Optional[_typing_Sequence[Table]] = None,
   5830     checkfirst: bool = True,
   5831 ) -> None:
   5832     """Drop all tables stored in this metadata.
   5833
   5834     Conditional by default, will not attempt to drop tables not present in
   (...)
   5848
   5849     """
-> 5850     bind._run_ddl_visitor(
   5851         ddl.SchemaDropper, self, checkfirst=checkfirst, tables=tables
   5852     )

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py:3239, in Engine._run_ddl_visitor(self, visitorcallable, element, **kwargs)
   3232 def _run_ddl_visitor(
   3233     self,
   3234     visitorcallable: Type[Union[SchemaGenerator, SchemaDropper]],
   3235     element: SchemaItem,
   3236     **kwargs: Any,
   3237 ) -> None:
   3238     with self.begin() as conn:
-> 3239         conn._run_ddl_visitor(visitorcallable, element, **kwargs)

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py:2443, in Connection._run_ddl_visitor(self, visitorcallable, element, **kwargs)
   2431 def _run_ddl_visitor(
   2432     self,
   2433     visitorcallable: Type[Union[SchemaGenerator, SchemaDropper]],
   2434     element: SchemaItem,
   2435     **kwargs: Any,
   2436 ) -> None:
   2437     """run a DDL visitor.
   2438
   2439     This method is only here so that the MockConnection can change the
   2440     options given to the visitor so that "checkfirst" is skipped.
   2441
   2442     """
-> 2443     visitorcallable(self.dialect, self, **kwargs).traverse_single(element)

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/sql/visitors.py:670, in ExternalTraversal.traverse_single(self, obj, **kw)
    668 meth = getattr(v, "visit_%s" % obj.__visit_name__, None)
    669 if meth:
--> 670     return meth(obj, **kw)

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/sql/ddl.py:1078, in SchemaDropper.visit_metadata(self, metadata)
   1076 for table, fkcs in collection:
   1077     if table is not None:
-> 1078         self.traverse_single(
   1079             table,
   1080             drop_ok=True,
   1081             _is_metadata_operation=True,
   1082             _ignore_sequences=seq_coll,
   1083         )
   1084     else:
   1085         for fkc in fkcs:

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/sql/visitors.py:670, in ExternalTraversal.traverse_single(self, obj, **kw)
    668 meth = getattr(v, "visit_%s" % obj.__visit_name__, None)
    669 if meth:
--> 670     return meth(obj, **kw)

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/sql/ddl.py:1145, in SchemaDropper.visit_table(self, table, drop_ok, _is_metadata_operation, _ignore_sequences)
   1138     return
   1140 with self.with_ddl_events(
   1141     table,
   1142     checkfirst=self.checkfirst,
   1143     _is_metadata_operation=_is_metadata_operation,
   1144 ):
-> 1145     DropTable(table)._invoke_with(self.connection)
   1147     # traverse client side defaults which may refer to server-side
   1148     # sequences. noting that some of these client side defaults may
   1149     # also be set up as server side defaults
   (...)
   1152     # #associating-a-sequence-as-the-server-side-
   1153     # default), so have to be dropped after the table is dropped.
   1154     for column in table.columns:

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/sql/ddl.py:315, in ExecutableDDLElement._invoke_with(self, bind)
    313 def _invoke_with(self, bind):
    314     if self._should_execute(self.target, bind):
--> 315         return bind.execute(self)

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py:1412, in Connection.execute(self, statement, parameters, execution_options)
   1410     raise exc.ObjectNotExecutableError(statement) from err
   1411 else:
-> 1412     return meth(
   1413         self,
   1414         distilled_parameters,
   1415         execution_options or NO_OPTIONS,
   1416     )

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/sql/ddl.py:181, in ExecutableDDLElement._execute_on_connection(self, connection, distilled_params, execution_options)
    178 def _execute_on_connection(
    179     self, connection, distilled_params, execution_options
    180 ):
--> 181     return connection._execute_ddl(
    182         self, distilled_params, execution_options
    183     )

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py:1524, in Connection._execute_ddl(self, ddl, distilled_parameters, execution_options)
   1519 dialect = self.dialect
   1521 compiled = ddl.compile(
   1522     dialect=dialect, schema_translate_map=schema_translate_map
   1523 )
-> 1524 ret = self._execute_context(
   1525     dialect,
   1526     dialect.execution_ctx_cls._init_ddl,
   1527     compiled,
   1528     None,
   1529     execution_options,
   1530     compiled,
   1531 )
   1532 if self._has_events or self.engine._has_events:
   1533     self.dispatch.after_execute(
   1534         self,
   1535         ddl,
   (...)
   1539         ret,
   1540     )

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py:1844, in Connection._execute_context(self, dialect, constructor, statement, parameters, execution_options, *args, **kw)
   1839     return self._exec_insertmany_context(
   1840         dialect,
   1841         context,
   1842     )
   1843 else:
-> 1844     return self._exec_single_context(
   1845         dialect, context, statement, parameters
   1846     )

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py:1984, in Connection._exec_single_context(self, dialect, context, statement, parameters)
   1981     result = context._setup_result_proxy()
   1983 except BaseException as e:
-> 1984     self._handle_dbapi_exception(
   1985         e, str_statement, effective_parameters, cursor, context
   1986     )
   1988 return result

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py:2339, in Connection._handle_dbapi_exception(self, e, statement, parameters, cursor, context, is_sub_exec)
   2337 elif should_wrap:
   2338     assert sqlalchemy_exception is not None
-> 2339     raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
   2340 else:
   2341     assert exc_info[1] is not None

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/base.py:1965, in Connection._exec_single_context(self, dialect, context, statement, parameters)
   1963                 break
   1964     if not evt_handled:
-> 1965         self.dialect.do_execute(
   1966             cursor, str_statement, effective_parameters, context
   1967         )
   1969 if self._has_events or self.engine._has_events:
   1970     self.dispatch.after_cursor_execute(
   1971         self,
   1972         cursor,
   (...)
   1976         context.executemany,
   1977     )

File /opt/homebrew/anaconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py:921, in DefaultDialect.do_execute(self, cursor, statement, parameters, context)
    920 def do_execute(self, cursor, statement, parameters, context=None):
--> 921     cursor.execute(statement, parameters)

OperationalError: (sqlite3.OperationalError) database table is locked
[SQL:
DROP TABLE "T_D"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
meta.remove(A)
meta.remove(B)
meta.remove(C)
meta.remove(D)
Table('POST', meta,
      Column('PK', Integer, primary_key=True),
      Column('CONTENT', Text),
      extend_existing=True)

Table('HASHTAG', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
      Column('COUNT', Integer, server_default='0'),
      extend_existing=True)

Table('POSTTAG', meta,
      Column('PFK', None, ForeignKey('POST.PK')),
      Column('HFK', Integer, ForeignKey('HASHTAG.PK')),
      extend_existing=True)
Table('POSTTAG', MetaData(), Column('PFK', Integer(), ForeignKey('POST.PK'), table=<POSTTAG>), Column('HFK', Integer(), ForeignKey('HASHTAG.PK'), table=<POSTTAG>), schema=None)
meta.create_all(engine)
2023-09-06 12:08:45,070 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 12:08:45,075 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("POST")
2023-09-06 12:08:45,076 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:08:45,077 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("POST")
2023-09-06 12:08:45,078 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:08:45,078 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("HASHTAG")
2023-09-06 12:08:45,079 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:08:45,080 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("HASHTAG")
2023-09-06 12:08:45,080 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:08:45,081 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("POSTTAG")
2023-09-06 12:08:45,081 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:08:45,082 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("POSTTAG")
2023-09-06 12:08:45,083 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:08:45,084 INFO sqlalchemy.engine.Engine
CREATE TABLE "POST" (
	"PK" INTEGER NOT NULL,
	"CONTENT" TEXT,
	PRIMARY KEY ("PK")
)


2023-09-06 12:08:45,084 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
2023-09-06 12:08:45,085 INFO sqlalchemy.engine.Engine
CREATE TABLE "HASHTAG" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	"COUNT" INTEGER DEFAULT '0',
	PRIMARY KEY ("PK")
)


2023-09-06 12:08:45,086 INFO sqlalchemy.engine.Engine [no key 0.00053s] ()
2023-09-06 12:08:45,086 INFO sqlalchemy.engine.Engine
CREATE TABLE "POSTTAG" (
	"PFK" INTEGER,
	"HFK" INTEGER,
	FOREIGN KEY("PFK") REFERENCES "POST" ("PK"),
	FOREIGN KEY("HFK") REFERENCES "HASHTAG" ("PK")
)


2023-09-06 12:08:45,087 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
2023-09-06 12:08:45,087 INFO sqlalchemy.engine.Engine COMMIT
A = meta.tables['POST']
B = meta.tables['HASHTAG']
C = meta.tables['POSTTAG']
con.execute(B.insert().values(NAME='A'))
2023-09-06 12:09:35,732 INFO sqlalchemy.engine.Engine INSERT INTO "HASHTAG" ("NAME") VALUES (?)
2023-09-06 12:09:35,736 INFO sqlalchemy.engine.Engine [generated in 0.00503s] ('A',)
<sqlalchemy.engine.cursor.CursorResult at 0x1387caca0>
con.execute(B.select()).fetchall()
2023-09-06 12:09:49,020 INFO sqlalchemy.engine.Engine SELECT "HASHTAG"."PK", "HASHTAG"."NAME", "HASHTAG"."COUNT"
FROM "HASHTAG"
2023-09-06 12:09:49,025 INFO sqlalchemy.engine.Engine [generated in 0.00518s] ()
[(1, 'A', 0)]
con.execute(B.delete())
2023-09-06 12:10:21,097 INFO sqlalchemy.engine.Engine DELETE FROM "HASHTAG"
2023-09-06 12:10:21,102 INFO sqlalchemy.engine.Engine [generated in 0.00555s] ()
<sqlalchemy.engine.cursor.CursorResult at 0x1387bcf40>
# print(B.select().where(B.c.NAME=='ORM'))
key = 'ORM'
size = con.execute(select(func.count(B.c.PK)).where(B.c.NAME==key)
           ).fetchone()[0]

if size == 0:
    con.execute(B.insert().values(NAME=key))

con.execute(select(B.c.PK).where(B.c.NAME==key)).fetchone()[0]
2023-09-06 12:14:59,798 INFO sqlalchemy.engine.Engine SELECT count("HASHTAG"."PK") AS count_1
FROM "HASHTAG"
WHERE "HASHTAG"."NAME" = ?
2023-09-06 12:14:59,802 INFO sqlalchemy.engine.Engine [cached since 109.7s ago] ('ORM',)
2023-09-06 12:14:59,806 INFO sqlalchemy.engine.Engine SELECT "HASHTAG"."PK"
FROM "HASHTAG"
WHERE "HASHTAG"."NAME" = ?
2023-09-06 12:14:59,807 INFO sqlalchemy.engine.Engine [cached since 31.68s ago] ('ORM',)
1
1. POST에 본문 insert
2. insert된 PK
3. 위에 코드 이용, 해시태그 PK 가져오기
4. POSTTAG에 POST.PK, HASHTAG.PK를 insert
5. HASHTAG의 COUNT+1, 단 PK=HASHTAG.PK